# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Local Config & Development
.env